*{
    margin: 0%;
    padding: 0%;
}


$color1: #FFA71A;
$color2: #090601;
$color3: #EDEDED;
$color4: #ffa71a81; 



@import 'contactos';
@import 'hamburguesa';
@import 'sucursal';
@import 'tapasybebidas';
@import 'inicio';


// inicio de Media Queries
@media screen and (min-width: 480px) {
    .comida{
        grid-template-columns: 1fr 1fr;   
        grid-template-rows: 1fr; 
    }
}